In [5]:
numbers = [7,8,4,6,9,10,2,7,8,9,3,6,9,8,4,9,6,5,9,8,7,9,0,3]

In [7]:
import pandas as pd

In [14]:
df = pd.DataFrame({'numbers': numbers})

In [19]:
df

    numbers
0         7
1         8
2         4
3         6
4         9
5        10
6         2
7         7
8         8
9         9
10        3
11        6
12        9
13        8
14        4
15        9
16        6
17        5
18        9
19        8
20        7
21        9
22        0
23        3

In [21]:
df['numbers'].min() + df['numbers'].max() / 2

5.0

In [23]:
df['numbers']

10

In [27]:
# Sort the data
sorted_data = sorted(numbers)
sorted_data

[0, 2, 3, 3, 4, 4, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 10]

In [30]:
# Step 1: Calculate the Mean
mean = sum(sorted_data) / len(sorted_data)

# Step 2: Calculate Deviations
deviations = [(x - mean) for x in sorted_data]

# Step 3: Square the Deviations
squared_deviations = [(x ** 2) for x in deviations]

# Step 4: Find the Variance
variance = sum(squared_deviations) / len(sorted_data)

print("Variance:", variance)

Variance: 6.75

In [31]:
squared_deviations

[42.25,
 20.25,
 12.25,
 12.25,
 6.25,
 6.25,
 2.25,
 0.25,
 0.25,
 0.25,
 0.25,
 0.25,
 0.25,
 2.25,
 2.25,
 2.25,
 2.25,
 6.25,
 6.25,
 6.25,
 6.25,
 6.25,
 6.25,
 12.25]